footer {
    padding: 0px 13vh;
}
footer p {
    position: relative;
    top: 8vh;
    left: 0.5vh;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
}
.platforms {
    margin: 0 1.5vh;
    width: 11vh;
    position: relative;
    top: 8vh;
    left: -1.3vh;
}
.credit {
    font-size: 1rem;
    position: absolute;
    top: 97vh;
    left: 98vh;
}