* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-image:url(../assets/images/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(30px) brightness(60%);
}