* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    background-image:url(../assets/images/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(30px) brightness(60%);
}
body, html {
    overflow: hidden;
}
section {
    padding: 0px 13vh;
}
.primary-logo {
    position: relative;
    top: -14vh;
    left: 90vh;
    width: 105vh;
}
h1 {
    font-family: 'Sora', sans-serif;
    font-size: 11vh;
    color: white;
    text-shadow: 0 0 5px white, 0 0 10px darkorchid;
    position: absolute;
    top: 26vh;
}
p {
    font-family: 'Didact Gothic', sans-serif;
    color: white;
    position: absolute;
    font-size: 20px;
    width: 84vh;
    top: 55vh;
}
button {
    font-family: 'Didact Gothic', sans-serif;
    cursor: pointer;
    position: relative;
    right: 105.5vh;
    top: -23.5vh;
    font-size: 4vh;
    border-radius: 18px;
    padding: 8px 80px;
    text-align: center;
    text-shadow: 0vh 0vh 1vh black;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s;
}
.button:hover {
    color: black;
    background-color: white;
}
footer {
    padding: 0px 13vh;
}
footer p {
    position: relative;
    top: -16vh;
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
}
.platforms {
    margin: 0 1.5vh;
    width: 11vh;
    position: relative;
    top: -16vh;
    left: -1.7vh;
}