* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav {
    padding: 10px 11.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li {
    display: inline;
}
nav ul li a {
    font-family: 'Urbanist', sans-serif;
    font-size: 24px;
    color: white;
    margin: 0 2vh;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0px 10px 1vh black;
    transition: 0.1s;
}
nav ul li a:hover {
    transform: scale(1.1);
}
.icon {
    color: white;
    transition: 0.2s;
}
.icon:hover {
    transform: scale(1.2);
}
.nav-logo {
    position: relative;
    left: -12vh;
    width: 15vh;
    transition: 0.5s;
}  