* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
nav {
    padding: 10px 11.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 60vh;
}
nav ul li {
    display: inline;
    font-size: 2.6rem;
}
nav ul li a {
    font-family: 'Urbanist', sans-serif;
    color: white;
    margin: 0 2vh;
    display: inline-block;
    text-decoration: none;
    text-shadow: 0vh 0vh 1vh black;
    transition: 0.1s;
}
nav ul li a:hover {
    transform: scale(1.1);
}
.icon {
    position: relative;
    color: white;
    transition: 0.2s;
}
.icon:hover {
    transform: scale(1.2);
}
.nav-logo {
    position: relative;
    left: -12vh;
    width: 15vh;
    transition: 0.5s;
}  
#menuBar {
    position: relative;
    color: white;
    font-size: 2rem;
    opacity: 0;
    text-shadow: 0vh 0vh 1vh black;
}